#time {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    font-weight: bold;
    margin-bottom: 2px;
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px; /* Space between grid items */
    max-width: 600px; /* Optional: Adjust to fit your design */
    margin: 0 auto; /* Center the grid */
}
  
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #a8a6a6;
    padding: 10px; 
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px; 
}

#guessInput  {
    width: 266px;
}

span {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #a8a6a6;
}

.blank {
    background-color: rgb(161, 158, 158);
}

.correct-position {
    background-color: #c9b458;
}

.correct {
    background-color: #6aaa64;
}

@media (max-width: 600px) {
    #guessInput {
        display: none;
    }

    .container {
        max-width: 600px;
        gap: 4px;
    }
}
