.keyBoardContainer {
    border-radius: 20px;
    height: auto; /* Allow the height to adjust based on content */
    width: 100%; /* Use a larger percentage to make it more responsive */
    max-width: 1000px; /* Cap the maximum width */
    display: flex;
    flex-direction: column;
}

.keyBoardContainer div {
    width: 90%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 2px;
}

.keyBoardContainer div button {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border: solid grey 1px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}


#rowOne {
    width: 85%;
}

#rowTwo {
    margin-left: 2vw;
    width: 80%;
}
#rowThree{
    width: 85%;
}

.keyBoardContainer .action {
    min-width: 80px;
}
 
@media (min-width: 380px) and (max-width: 600px) {
    .keyBoardContainer {
        align-items: center;
        justify-content: center;
    }

    .keyBoardContainer div button {
        height: 36px;
        width: 6vw;
        min-width: 6vw;
        font-size: 80%;
        margin: 1px; /* Reduce button spacing if needed */
    }
    
    .keyBoardContainer .action {
        height: 36px;
        width: 11vw;
        min-width: 11vw;
        font-size: 80%;
    }
}

@media (max-width: 380px) {

    .keyBoardContainer {
        align-items: center;
        justify-content: center;
    }

    .keyBoardContainer div button {
        height: 30px;
        width: 5vw;
        min-width: 5vw;
        font-size: 66%; 
        margin: 0;
    }
    
    .keyBoardContainer .action {
        height: 30px;
        width: 9vw;
        min-width: 9vw;
        font-size: 66%;
    }
}
