.keyBoardContainer{
    border-radius: 20px;
    height: auto; /* Allow the height to adjust based on content */
    width: 100%; /* Use a larger percentage to make it more responsive */
    max-width: 1000px; /* Cap the maximum width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.keyBoardContainer div {
    width: 90%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 2px;
}

.keyBoardContainer div button {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border: solid grey 1px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}


#rowOne {
    width: 85%;
}

#rowTwo {
    width: 80%;
}
#rowThree{
    width: 85%;
}

#enter {
    min-width: 80px;
}